<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'regsignup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-container">
        <h1>Signing up as a Distributor</h1>
        <p>your responsibility would be to deliver.</p>
        <form method="post" action="{% url 'regsignup' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="address" placeholder="Address" required>
            <input type="tel" name="phoneno" class="styled-input" placeholder="Phone Number" required>
            <input type="email" name="email" class="styled-input" placeholder="Email" required>

            <button type="submit">Sign Up</button>
        </form>
        
    </div>
    <script src="{% static 'regsignup.js' %}"></script>
</body>
</html>
