<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
</head>
<body>
    <form id="login-form">
    {% csrf_token %}
    <p class="error-mes" id="error-mes">Invalid Credentials</p>
    <div class="login-container">
        <h1>Distributor Login</h1>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
    </form>
        <button type="submit" class="login-button">Login</button>
    </div>
    <script src="{% static 'loginscript.js'%}"></script>
</body>
</html>
