<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sourcesignup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-container">
        <h1>Signing up as a source</h1>
        <p>your responsibility would be to provide.</p>
        <form method="post" action="{% url 'sousignup' %}">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Username" required>
            <div id="username-exists" class="error-message"></div>
            <div id="username-doesnt-exist" class="noerror-message"></div>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="address" placeholder="Address" required>
            <input type="text" name="region" placeholder="Region" required>
            <input type="tel" name="phoneno" class="styled-input" placeholder="Phone Number" required>
            <input type="email" name="email" class="styled-input" placeholder="Email" required>

            <button type="submit" id="signup-button" disabled>Sign Up</button>
        </form>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'sourcesignup.js' %}"></script>
</body>
</html>
